# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
.env

# Environments
env/
venv/

# IDEs
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Testing / Coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytestdebug.log