{% extends "catalog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p><strong>Просмотров:</strong> {{ post.views_count }}</p>
  {% if post.preview %}
    <img src="{{ post.preview.url }}" class="img-fluid mb-3">
  {% endif %}
  <p>{{ post.content|linebreaks }}</p>

  {% if user.is_authenticated %}
    <a href="{% url 'blog_edit' post.pk %}" class="btn btn-warning">Редактировать</a>
    <a href="{% url 'blog_delete' post.pk %}" class="btn btn-danger">Удалить</a>
  {% endif %}
  <a href="{% url 'blog_list' %}" class="btn btn-secondary">Назад к списку</a>
{% endblock %}
