{% extends "catalog/base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Главная страница</h1>
<p>Добро пожаловать!</p>

<h2>Последние товары:</h2>
<ul>
  {% for product in latest_products %}
    <div class="card mb-4 p-3 border rounded">
      <h2>
        <a href="{% url 'product_detail' product.pk %}">
          {{ product.name }}
        </a>
      </h2>

      {% if product.image %}
        <a href="{% url 'product_detail' product.pk %}">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
        </a>
      {% endif %}

      <p>{{ product.description|truncatechars:100 }}</p>

      <p><a href="{% url 'product_detail' product.pk %}">Подробнее →</a></p>
    </div>
  {% endfor %}

</ul>
{% endblock %}